{% extends 'base.html.twig' %}
{% block body %}
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi consequuntur deserunt dolore dolorum
        earum, eius ipsam laboriosam, necessitatibus nihil obcaecati quibusdam quisquam quos sequi tempore temporibus
        unde vitae voluptates.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ducimus et expedita fuga iure laudantium modi
        necessitatibus nesciunt non, pariatur quod, velit. Blanditiis dicta earum et libero suscipit unde voluptas?</p>
{% endblock %}
{% block title %}About Us | {{ parent() }}{% endblock %}